.guess-form  {
	
	.flex-wrapper {
		display: flex;
		justify-content: center;
		align-items: stretch;
		flex-direction: row;
			
		.flex-item {
			flex: 0 1 auto;
		
		&.image {
			min-width: 150px;
			
			.baby-image{
				min-height: 200px;
				min-width: 125px;
			
				.display-weight {
					font-size: 1.5em;
					color: $blue_dark;
					position: absolute;
					bottom: -1.5em;
					left: 50%;
					transform: translateX(-50%);
					white-space: nowrap;
				
				@include screen-medium {
					top: 80%;
					bottom: auto; left: auto;
					right: 0;
					transform: translateY(-80%);
				}
				}
				
			}
		}
		}
	
	@include screen-medium {
		flex-direction: column;
		margin: 0 2.5%;
	}
	}
	
	form {
	
		input[type=text]{
			border: 0;
		}
		
		input[type=submit]{
			padding: .35em 1em;
			margin-left: 5px;
		}
	}
	
	.input-wrapper {
		position: relative;
		
		> .validation-field {
			width: 67.5%;	
		
		@include screen-medium{
			display: inline-block;
		}
		}

		p {
			
		@include screen-medium{
			width: 25%;
			display: inline-block;
		}
		}
	
	&.submit {
		border-top: 2px solid $lavendar;
		margin: 2em 0;
		padding-top: 1em;
		
		.validation-field {
			width: 47.5%;
		
		@include screen-small {
			width: 97.5%;
			margin-bottom: 1.5em;
		}	
		}
		
		input[type=submit] {
			width: 47.5%;
			display: inline-block;
			vertical-align: middle;
		
		@include screen-small {
			display: block;
			width: 100%;
			margin: 0 auto;
		}
		}
	}
	
	}

	.lock-icon {
		vertical-align: middle;
		
		span {
			font-size: 12px;
			padding: .1em .2em;
			border: 1px solid $lavendar;
			background: #FFF;
			color: $lavendar;
			left: 0;
			bottom: -22px;
			z-index: 1000;
		}
	}
}