.panel {
	margin: 1em 0;
	width: 100%;
	background-color: $grey;
	border-radius: 10px;
	
	h3 {
		background-color: $lavendar;
		border-collapse: collapse;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		text-align: center;
		font-family: $chicle;
		letter-spacing: 1px;
		color: #FFF;
		padding: .25em;
		margin: 0 0 .75em;
		font-size: 2.25em;
	}
}