table.predictor {
	
	background-color: $blue;
	color: #FFF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
		
	tbody {
		font-size: 1.35em;
	
		tr {
			 
			td {
				
			&:nth-child(1){
				width: 25%;
			}
			&:nth-child(2){
				width: 15%;
			}
			&:nth-child(3){
				width: 25%;
			}
			&:nth-child(4){
				width: 35%;
			}
			}
		
		&.girl{
			background-color: $pink;
		}
		}
	}
}