table.predictor {
	
	background-color: $blue;
	color: #FFF;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
		
	tbody {
		font-size: 1.35em;
	
		tr {
			 
			td {
				
			&:nth-child(1){
				width: 25%;
			}
			&:nth-child(2){
				width: 20%;
			}
			&:nth-child(3){
				width: 25%;
			}
			&:nth-child(4){
				width: 30%;
			}
			}
		
		&.girl{
			background-color: $pink;
		}
		}
	}
	
	.lock-icon {
		
		span {
			font-size: 12px;
			padding: .1em .2em;
			border: 1px solid $blue;
			background: #FFF;
			color: $blue;
			left: 20px;
		}
	}
}