table.guesses  {
	
	thead  {
	
		tr  {
			color: $pink_dark;
			text-transform: uppercase;
			font-size: 1.125em;
			text-align: left;
		}
	}
	
	tbody {
		
		tr  {
			background-color: $grey;
			
			td  {
			font-size: 1.25em;
			color: $blue_dark;
			
			&.locked{
				opacity: .5;
			}
			
			&:nth-child(1){
				width: 25%;
			span {
				color: $lavendar;
			}
			
			}
			&:nth-child(2){
				width: 20%;
			}
			&:nth-child(3){
				width: 25%;
			}
			&:nth-child(4){
				width: 30%;
			}
			
			&.weight {
				
				span.suffix {
					font-size : .75em;
				}
			}	
			}
		
		&:nth-child(even){
			background-color: #FFF;
		}
		}
		
		div.gender-icon {
				background-image: url(../img/babySlices.png);
				background-repeat: no-repeat;
				background-size: 200% 400%;
				width: 40px;
				height: 40px;
			
			&.girl  {
				background-position: 0% 100%;
			}
			&.boy  {
				background-position: 100% 66.66667%;
			}
		}
	}
}

.scrollwrapper {
	max-height: 300px;
	overflow-y:auto;
}	