// Fonts
@import url(https://fonts.googleapis.com/css?family=Cabin:300,400,700|Chicle);	
$cabin: 'Cabin', sans-serif;
$chicle: 'Chicle', cursive;

// Colors 
$pink :  		#F3B2D9;
$pink_shade : 	#F9D8EB;
$pink_dark :	#B4869F;
$blue :			#7CC6FE;
$blue_dark : 	#2F4550;
$lavendar :		#A6B1E1;
$grey :			#E8EBF7;




