body {
	padding: 0;
	margin: 0;
	
	&.pink {
		background-color: $pink_shade;
	
	@include screen-small {
		background-color: #FFF;
	}
	
	}
}

.app {
	
	font-family: $cabin;
	font-weight: 400;
	overflow: hidden;
		
	.wrapper {
		background-color : #FFF;
		max-width : 600px;
		min-width : 350px;
		border-radius : 10px;
		border: 3px solid $pink_dark;
		margin: 2em auto;
	
		.mode {
			width: 95%;
			margin: 0 2.5%;
			overflow: hidden;
			
			.component-set {
				margin-bottom: 1em;
			}
			
			
			
			.close-button {
				float: right;
				font-size: 1.75em;
				color: $pink_dark;
				margin-right: 5px;
			}
		}
		
	@include screen-medium {
		margin: 2em 50px;
	}
	
	
	@include screen-small {
		margin: 0;
		max-width: 100%;
		border: none;
		border-radius: 0;
	}
	
	}
	
	h1 {
		font-family: $chicle;
		font-weight: 400;
		color: $lavendar;
		font-size: 4.5em;
		letter-spacing: 1px;
	}
		
	h2 {
		color: $pink_dark;
		font-size: 1.75em;
		margin-bottom: .5em;
	}
	
	h3 {
		font-size: 1.6em;
		font-weight: 300;
	}
	
	label {
		font-weight: 300;
	}

@include screen-medium {
	//border: 1px solid green;
}
@include screen-small {
	//border: 1px solid red;
}		

}