.app {
	
	font-family: $cabin;
	font-weight: 400;
		
	.wrapper {
		background-color : #FFF;
		max-width : 600px;
		min-width : 350px;
		border-radius : 10px;
		border: 3px solid $pink_dark;
		margin: 2em auto;
	
		.mode {
			width: 95%;
			margin: 0 2.5% 1em;
		
			.closeButton {
				float: right;
				font-size: 1.75em;
				color: $pink_dark;
				margin-right: 5px;
			}
		
		}
		
	
	}
	
	h1 {
		font-family: $chicle;
		font-weight: 400;
		color: $lavendar;
		font-size: 4.5em;
		letter-spacing: 1px;
	}
		
	h2 {
		color: $pink_dark;
		font-size: 1.75em;
	}
	
	h3 {
		font-size: 1.6em;
		font-weight: 300;
	}
	
	label {
		font-weight: 300;
	}
}