.app {
	
	font-family: $cabin;
	font-weight: 400;
		
	.wrapper {
		background-color : #FFF;
		max-width : 600px;
		min-width : 350px;
		border-radius : 10px;
		border: 3px solid $pink_dark;
		margin: 2em auto;
	
	
		h1 {
			font-family: $chicle;
			font-weight: 400;
			color: $lavendar;
			font-size: 4.5em;
			letter-spacing: 1px;
		}
		
		h2 {
			color: $pink_dark;
			font-size: 1.75em;
		}
		
		h3 {
			font-size: 1.6em;
		}
	
	}
	
}