form  {
	
	select  {
		font-size: 1.5rem;
		border: 0;
		background-color: #FFF;
		color: $blue_dark;
		margin-right: 5px;
		
	}
	
	select[disabled] {
		background-color: $grey;
		color: $lavendar;
		-webkit-appearance: none;
		appearance: none;
		-moz-appearance: none;
		text-indent: .01;
		text-overflow: '';
	}
	
	select[disabled]::-ms-expand {
    	display: none;
	}	
	
	input {
		font-size: 1.25em;
		color: $blue_dark;
	
	&[type=text]{
		font-size: 1.5rem;
		padding: .2em 0 .2em .2em;
		border: 1px solid $grey;
// 		width: 92.5%;
	&[disabled] {
		background-color: $grey;
		color: $lavendar;
	}
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $blue_dark;
		opacity: 1;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: $blue_dark;
		opacity: 1;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: $blue_dark;
		opacity: 1;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $blue_dark;
		opacity: 1;
	}
	}
	&[type=radio] {
		margin-top: 5px;
		vertical-align: top;
	}
	
	&[type=checkbox]{
		
	}
	
	&[type=range]  { 
		font-size: 1em;
		margin: 0;
	}
	
	&[type=submit] {
		background-color: $blue_dark;
		color: #FFF;
		border-radius: 5px;
		border: 3px solid $lavendar;
		font-size: 1.25rem;
		padding: .35em 0;
		text-transform: uppercase;
		cursor: pointer;
	
	&[disabled]{
		opacity: .5;
		cursor: default;
	}
	
	}
	}
	
	label  {
		color: $blue_dark;
	}
	
	
}