form  {
	
	select  {
		font-size: 1.5rem;
		border: 0;
		background-color: #FFF;
		color: $blue_dark;
		margin-right: 5px;
	
	&[disabled] {
		background-color: $grey;
		color: $lavendar;
		-webkit-appearance: none;
		appearance: none;
		-moz-appearance: none;
		text-indent: .01;
		text-overflow: '';
	}
	
	&[disabled]::-ms-expand {
    	display: none;
	}	
	}
	
/*
	select[disabled] {
		background-color: $grey;
		color: $lavendar;
		-webkit-appearance: none;
		appearance: none;
		-moz-appearance: none;
		text-indent: .01;
		text-overflow: '';
	}
	
	select[disabled]::-ms-expand {
    	display: none;
	}	
*/
	
	input {
		font-size: 1.25em;
		color: $blue_dark;
	
	&[type=text]{
		font-size: 1.5rem;
		padding: .2em 0 .2em .2em;
		border: 1px solid $grey;
	&[disabled] {
		background-color: $grey;
		color: $lavendar;
	}
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $blue;
		opacity: 1;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: $blue;
		opacity: 1;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: $blue;
		opacity: 1;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: $blue;
		opacity: 1;
	}
	}
	&[type=radio] {
		margin-top: 5px;
		vertical-align: top;
	}
	&[type=range]  { 
		font-size: 1em;
		margin: 0;
	}
	&[type=submit] {
		background-color: $blue_dark;
		color: #FFF;
		border-radius: 5px;
		border: 3px solid $lavendar;
		font-size: 1.25rem;
		padding: .35em 0;
		text-transform: uppercase;
		cursor: pointer;
	
	&[disabled]{
		opacity: .5;
		cursor: default;
	}
	}
	}//input
	
	.inputs {
		background-color: $grey;
		padding: 1em;

		.switch {
			vertical-align: middle;
			display: inline-block;
			
			margin-right: 5px;
			
			input {
			
			&:checked + .slider {
				background-color: $blue;
			}
			&:focus + .slider{
				box-shadow: 0 0 1px $blue;
			}
			}
			
			.slider {
				background-color: $lavendar;
			}
		}
	}//.inputs
	
	.input-wrapper {
		margin-bottom: 1.5em;
		
		
		> .detail-field {
			display: inline-block;
			vertical-align: middle;
			width: 72.5%;
		
		@include screen-small{
			display: block;
		}
		}
		
		> .validation-field {
			display: inline-block;
			vertical-align: middle;
			width: 72.5%;
			
			input[type=text] {
				width: 97.5%;
			}
		
		@include screen-medium{
			display: block;
			width: 97.5%;
		}
		}
		
		label {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.25em;
			color: $blue_dark;
		}
	
		p {
			display: inline-block;
			vertical-align: middle;
			font-size: 1.5em;
			width: 25%;
			margin: 0;
			color: $lavendar;
		
		@include screen-medium {
			width: 97.5%;
			display: block;
		}
		}

	}//.input-wrapper
}