.menu {
	display: table-cell;
	text-align: right;
	width: 10%;
	
		i {
			color: $lavendar;
			font-size: 2em;
			font-style: normal;
			font-family: sans-serif;
			cursor: pointer;
			display: block;
			line-height: 55px;
			position: relative;
			padding-right: 15%;
			width: 85%;
			height: 55px;
			
			ul  {
				position: absolute;
				z-index: 1000;
				font-size: 16px;
				line-height: 16px;
				font-size: 1rem;
				line-height: 1rem;
				top: 55px;
				right: 0;
				background: #FFF;
				list-style: none;
				margin: 0;
				padding: 0;
				display: none;
				text-align: left;
				border: 1px solid $grey;
			
				li {
					margin: 0;
					padding: 0;
					border-bottom: 1px solid $grey;
					
					a {
						display: block;
						cursor: pointer;
						padding: .35em .5em;
						color: $blue_dark;
						text-decoration: none;
					
					&:hover {
						background: $blue;
						color: #FFF;
					}
					}
				}
			}
		
		&:hover {
			color: #FFF;
				
				ul {
					display: block
				}
			}
		}	
}
