@import url(https://fonts.googleapis.com/css?family=Cabin:400,700|Chicle);

body {
	font-family: Cabin, sans-serif;
	font-weight: 400;
}


header {
	h1 {
		font-family: Chicle, cursive;
		font-weight: 400;
		color: #A6B1E1;
		font-size: 4.5em;
		letter-spacing: 1px;
	}
}